<div class="animation-fade-in">
	<p>
		A platform to re-invent document generation for Logistic Industry.
	</p>
	<div class="text-right"><small class="text-muted">*Images shown here are not ordered.</small></div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'./assets/alex/data_traversal.gif'}}" alt="Image" class="img-responsive img-thumbnail">
			<h5><small>Recursive data traversal on document models</small></h5>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'./assets/alex/annotate.gif'}}" alt="Image" class="img-responsive img-thumbnail">
			<h5><small>Annotating documents on the fly</small></h5>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'./assets/alex/annotated_data.gif'}}" alt="Image" class="img-responsive img-thumbnail">
			<h5><small>Spatial capturing of annotated coordinates</small></h5>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'./assets/alex/doc_generation.gif'}}" alt="Image" class="img-responsive img-thumbnail">
			<h5><small>Generating documents with ML</small></h5>
		</div>
	</div>
	<hr>
	<p>
		With Alex, we automated document generation for Air Export and Import. This not only eliminated human errors, but also made <a href="https://en.wikipedia.org/wiki/Freight_forwarder">Freight Forwarders</a> very efficient.
	</p>
	<div class="text-right text-muted">
		<small>Credit : Designed and co-developed with <a target="_blank" href="https://www.linkedin.com/in/siddharthsahani/">@Siddharth</a>, <a target="_blank" href="https://www.linkedin.com/in/vimoxshah/">@Vimox</a></small>
	</div>
	<hr>
	
</div>