<div class="animation-fade-in">
	<p>
		It's an admin portal to setup the <a target="_blank" href="http://plp.zaya.in/classcloud/" title="Checkout our cool classcloud">Classcloud</a> for the first time, so that user has a plug n play experience. Few screen shots given below
	</p>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'./assets/config/3.png'}}" alt="Image" class="img-responsive img-thumbnail">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'./assets/config/2.png'}}" alt="Image" class="img-responsive img-thumbnail">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'./assets/config/4.png'}}" alt="Image" class="img-responsive img-thumbnail">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'./assets/config/1.png'}}" alt="Image" class="img-responsive img-thumbnail">
		</div>
	</div>
	<div class="text-right text-muted">
		<small>Credit : Designed and co-developed with <a target="_blank" href="https://www.linkedin.com/in/ankitkulkarni/">@Ankit</a></small>
	</div>
	<hr>
	
</div>