<div class="animation-fade-in">
	<p>The reason I smashed this into one section is because no links are available for these projects. So, you have to take my word for it :-)</p>
	<br>
	<h5 class="text-muted">
	Video Cable Communication
	<small class="text-muted">May 2013 - Jul 2014</small>				
	</h5>
	<p>
		Designed and developed a customer billing solution based on <abbr title="Telecom Regulatory Authority of India">TRAI</abbr> guidelines.
	</p>
	<br>
	<h5 class="text-muted">
	Telibees Technologies Pvt Ltd
	<small class="text-muted">Jun 2012 - Apr 2013</small>				
	</h5>
	<p>
		Designed and developed mobile animations in <abbr title="Scalable Vector Graphics">SVG</abbr> for different industry verticals.
	</p>
	<hr>
</div>