<div class="animation-fade-in">
	<p>
		Portable content server for Schools.
	</p>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding">
			<img onload ng-src="{{'./assets/classcloud/classcloud.png'}}" alt="Image" class="img-responsive img-thumbnail">
        </div>
    </div>
	<div class="embed-responsive embed-responsive-16by9">
		<a href="https://docs.google.com/document/d/e/2PACX-1vTS27DFI3YJmThN60jvb2PV4Td5uJgYJaFTSo6yTIQ-kWtWz283BTFtLZ7E4d7Lp-rb7b6JTvpsspvK/pub">Report</a>
	</div>
	<hr>
</div>