<div class="animation-fade-in">
	<p>
		Portable content server for Schools.
	</p>
	<hr>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/DpFBPOR6zL8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding">
			<img onload ng-src="{{'./assets/classcloud/classcloud.png'}}" alt="Image" class="img-responsive img-thumbnail">
        </div>
    </div>
    <div class="well">
    	<h4>
	    	Class Cloud
	    	<br>
	    	<small class="text-muted">June 2016</small>
    	</h4>
    	<h5>The issue</h5>
    	<p>
	    	Classrooms in India today have an extremely high teacher to student ratio, sometimes ranging as high as 65:1. In this scenario teachers act more as facilitators and cannot provide the much-needed individual attention to students. For K-5 students who are building foundational skills in literacy and numeracy, such attention is critical to ensure that they develop a strong grounding to be able to perform at the next stage. The ASER study which highlights the inability of almost 40% of students in Std V to read a Std II or III textbook is a stark reminder of how far behind our students lag.
    	</p>
    	<a target="_blank" href="https://docs.google.com/document/d/e/2PACX-1vTS27DFI3YJmThN60jvb2PV4Td5uJgYJaFTSo6yTIQ-kWtWz283BTFtLZ7E4d7Lp-rb7b6JTvpsspvK/pub">Read full report ></a>
    </div>
    <div class="text-right text-muted">
		<small>Credit : Developed with
		<a target="_blank" href="https://www.linkedin.com/in/ashish2py/">@Ashish</a>
		<a target="_blank" href="https://www.linkedin.com/in/rahul-d-souza-2a3a9615/">@Rahul</a>
		and
		<a target="_blank" href="https://www.linkedin.com/in/cliffton/">@Clifton</a></small>
	</div>
	<hr>
</div>