<p>Learn is Zaya's core learning platform for the classcloud. Had redesigned and developed some of the key aspect of the app. One of the screen shot of how preview of how course list look like.</p>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src="./assets/learn/1.png" alt="Image" class="img-responsive img-thumbnail">
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src="./assets/learn/2.png" alt="Image" class="img-responsive img-thumbnail">
	</div>
</div>
<div class="text-right"><small>-Designed badges also for kids</small></div>
<br>
Abhijeet (one of our <abbr title="School Implementation Manager">SIMs</abbr>) has made some cool demos of our platform, check his <a target="_blank" href="https://www.youtube.com/channel/UCYBjpmLiY3-6vNV7W9rFpFg">youtube channel</a>