<p>Curate is Zaya's internal tool to curate content for both classcloud and English Duniya. Had fun redesigning and developing it. One of the screen shot of how preview of questions look like.</p>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src="./assets/curate/1.png" alt="Image" class="img-responsive img-rounded">
	</div>
</div>
Abhijeet (one of our <abbr title="School Implementation Manager">SIMs</abbr>) has made some cool demos of our platform, check his <a target="_blank" href="https://www.youtube.com/channel/UCYBjpmLiY3-6vNV7W9rFpFg">youtube channel</a>