<div class="animation-fade-in">
	<br>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1nQw8Un7cFg?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
	</div>
	<br>
	<h5 class="text-muted">Why</h5>
	<p>
		When we were building <a target="_blank" href="http://plp.zaya.in/classcloud/" title="Checkout our cool classcloud">Classcloud</a>, we realised a bigger problem exist in our society. <mark>Kids do not understand english.</mark> That's when we started <a target="_blank" title="Download now!" href="https://play.google.com/store/apps/details?id=com.ionicframework.zayamobile694033">English Duniya.</a>
	</p>
	<br>
	<h5 class="text-muted">Design &amp; Implementation</h5>
	<p>Our design philoshopy was straight forward, kids have to learn english, not our app.</p>
	<div class="text-right text-muted">
		<small>Credit : Team lead and developer</small>
	</div>
	<hr>
</div>