<div class="animation-fade-in">
	<p>
		It's a realtime quiz about everything. Some of the screen shots.
	</p>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding">
			<img onload ng-src="{{'./assets/quizegg/quiz-egg-logo.png'}}" alt="Image" class="img-responsive img-thumbnail">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding">
			<img onload ng-src="{{'./assets/quizegg/egg_laugh.svg'}}" alt="Image" class="img-responsive img-thumbnail">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding">
			<img onload ng-src="{{'./assets/quizegg/ui.svg'}}" alt="Image" class="img-responsive img-thumbnail">
		</div>
	</div>
	<br>
	<div class="text-right text-muted">
		<small>Credit : Designed and developed</small>
	</div>
	<hr>
</div>