<div class="animation-fade-in">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'https://scontent.fbom5-1.fna.fbcdn.net/v/t1.0-9/259799_229874397025048_3773825_n.jpg?oh=b523f8ce99073d5e42d8c4e0f1615a09&oe=592B2D46'}}" alt="Image" class="img-responsive img-rounded">
		</div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'https://c1.staticflickr.com/7/6125/5939305926_fcf66f00a0_b.jpg'}}" alt="Image" class="img-responsive img-rounded">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'https://c1.staticflickr.com/6/5313/5800215149_3e285f3f85_b.jpg'}}" alt="Image" class="img-responsive img-rounded">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'https://c1.staticflickr.com/3/2657/5800088487_e125743e07_b.jpg'}}" alt="Image" class="img-responsive img-rounded">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'https://c1.staticflickr.com/3/2107/5768377685_19bba78411_b.jpg'}}" alt="Image" class="img-responsive img-rounded">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'https://c1.staticflickr.com/3/2059/5735840286_ea2b077cdd_b.jpg'}}" alt="Image" class="img-responsive img-rounded">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'https://scontent.fbom5-1.fna.fbcdn.net/v/t1.0-9/13428405_1202900149722463_6883932465093956093_n.jpg?oh=c121ed632be3edc351331ed1cbc4ca53&oe=5924DF08'}}" alt="Image" class="img-responsive img-rounded">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'https://scontent.fbom5-1.fna.fbcdn.net/v/t1.0-9/259966_227993673879787_4684787_n.jpg?oh=d4fd3621833da2eca7b53dd89fafefaa&oe=596FF1AF'}}" alt="Image" class="img-responsive img-rounded">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'https://scontent.fbom5-1.fna.fbcdn.net/v/t1.0-9/14720628_1301240653221745_7266435442900867637_n.jpg?oh=b571e8dade736c47be32905aa49532cc&oe=59734F01'}}" class="img-responsive img-rounded">
		</div>
	</div>
	<hr>
</div>