<div class="animation-fade-in">
	<p>
		A platform to power Operation, Sales and Accounting
	</p>
	<div class="text-right"><small class="text-muted">*Images shown here are purposely skewed due to NDA.</small></div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'./assets/shipment-product/1.jpg'}}" alt="Image" class="img-responsive img-thumbnail">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'./assets/shipment-product/2.jpg'}}" alt="Image" class="img-responsive img-thumbnail">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
			<img onload ng-src="{{'./assets/shipment-product/3.jpg'}}" alt="Image" class="img-responsive img-thumbnail">
		</div>
	</div>
	<hr>
	<div class="text-right text-muted">
		<small>Credit : Design
	</div>
	<hr>
	
</div>