<div class="animation-fade-in">
	<br>
	<div class="tangible-playground" tangible style="padding-left: 50px;">
	</div>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://docs.google.com/document/d/e/2PACX-1vQA-v0q-7MudK0YXMV-rWXtdqxk_4BDLQ36lsi7AaY5FTtSPbYbP2Q6xA1Z8yFJgkxvAk1B5pYY5MCb/pub?embedded=true"></iframe>
	</div>
	<p>This is an ongoing project, which originated and heavily inspired by the works of <a target="_blank" href="http://worrydream.com">Bret Victor</a>, <a target="_blank" href="http://ncase.me">Nicky Case</a>, <a target="_blank" href="https://en.wikipedia.org/wiki/Seymour_Papert">Seymour Papert</a>, vision of Zaya and other research.</p>
	<br>
	<h4 class="text-muted">Philosophy</h4>
	<p>I think the ideal way of teaching, is not to tell a learner, the result. In fact, the result or answer to a problem is the least important of all. Its about giving them three important things :<p>
	<ol>
		<li>A space to think</li>
		<li>Analyze</li>
		<li>And deduce</li>
	</ol>
	<p>Problem solving skills, as it is practiced today is heavily judged on whether you can get to the result. Unfortunately, enough, students have also started ignoring the process and started focusing on the result. Like, they memorize formulas, memorize answer of a particular math problem, and if they are short of time, they even memorize the diagrams. They seldom care, how these formula derive, why they exists ; everything is then taken for granted.</p>
	<p>Tangible, is an effort to help content creators create such contents which helps a learner explore the concept, analyze it, deduce something new out of it. Its just a start, it will evolve slowly.</p>
	<br>
</div>
