<div class="animation-fade-in">
	<br>
	<div class="tangible-playground" tangible style="padding-left: 50px;">
	</div>
	<div class="well">
		<h4>Tangible</h4>
		<p class="text-muted">
			A single platform for creators and consumers
			<br/>
			<small>
				March 2017	
			</small>
		</p>
		<p>
			In the era of internet, accessibility of content is easier than ever. But effective consumption of content is not guaranteed because the flow of information is always one way. For example, articles, videography, pictures etc they all convey some messages, but do not guarantee complete attention of the consumer. Also these medium of information doesn’t allow the consumer to derive or explore the concepts already stated, unless explicitly mentioned.
		</p>
		<a target="_blank" href="https://docs.google.com/document/d/e/2PACX-1vSdTK_7NK7bC6zagqfGg6lIEGvoKV5YgVTJS-DVnIf8knVp0m-DUfs-_EO_h-TLfyAotYWzFBEuHgCE/pub">Read full report ></a>
	</div>
</div>
